.button{
    width:100%;
    border:none;
    border-radius:10px;
    padding:14px;
    margin-bottom:15px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.primary{
    background:#2563eb;
    color:#fff;
}

.primary:hover{
    background:#1d4ed8;
}

.secondary{
    background:#fff;
    color:#2563eb;
    border:1px solid #2563eb;
}

.secondary:hover{
    background:#2563eb;
    color:#fff;
}

.danger{
    background:#fff;
    color:#ef4444;
    border:1px solid #ef4444;
}

.danger:hover{
    background:#ef4444;
    color:#fff;
}

.button:disabled{
    background:#e5e7eb;
    color:#9ca3af;
    cursor:not-allowed;
}