.pagination{
    display:flex;
    align-items:center;
    gap:8px;
    flex-wrap:wrap;
}

.pagination button{
    width:40px;
    height:40px;
    border:1px solid #d1d5db;
    background:white;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.pagination button:hover{
    background:#2563eb;
    color:white;
    border-color:#2563eb;
}

.pagination .active{
    background:#2563eb;
    color:white;
    border-color:#2563eb;
}

.pagination span{
    padding:0 5px;
    color:#6b7280;
}